
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background colour for the body of the page */
body {
    background: #004faa;    
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5px;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
/* my name/logo for the portfolio */
.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.navbar a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-left: 24px;
    transition: 0.3s;
}
/* hover over for the navbar turns from white to gold */
.navbar a:hover {
    color: goldenrod;
}
/* the content that will be in my Home section */
.home {
    color: #fff;
    display: flex;
    height: 50vh;
    align-items: flex-end;
    padding: 0 7%;
    justify-content: space-between;
}

.home .home-content {
    position: absolute;
    text-align: left;
    max-width: 300px;
    margin-right: 50%;
    flex-direction: row;
    border: #fff solid 6px;
    top: 85px;
    
}

.home .home-content img {
    width: 60%;
    height: 60%;
}

.home .home-content h2 {
    margin: 10px 0 10px;
    
}

.home-content p {
    margin: 10px 0 10px;
}

.home .skills-text {
    transform: translateY(10%)
}

.home .skills-text h2 {
    color: #fff;
    transform: translateX(55%);

}

.home .skills-text img {
    position: relative;
    width: 90%;
    height: 100%;
    border: #fff solid 6px;
    margin: 20px 0 50px;
    padding: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50%;
    max-width: 650px;
    
}

.card {
    flex: auto;
    flex-direction: row;

}

.card .card-text h2 {
    color: #fff;
}

.card .card-text .card-image {
    position: absolute;
}

.card .card-text .card-image img {
    width: 60%;
    height: 60%;
}
/* .skills {
    display: flex;
    margin-left: 30%;
    border: #fff;
}

.skills .skills-text h2 {
    color: #fff;
    padding: 15px;
}

.skills .skills-image img {
    width: 50%;
    height: 50%;
} */

#darkbanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


.container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    margin-bottom: 20%;
    margin-right: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.boxes {
    text-align: center;
    display: flex;
    border-style: solid;
    border-width: 3px;
    padding: 30px;    
    width: 100%;

}

.boxes header {
    padding: 50px;
    text-align: center;
}
/* responsive layout*/
@media screen and (max-width: 1024px) {
    
    /* .boxes {
        width: 50%;
    } */
}

@media screen and (max-width: 768px) {
    body {
        background-color: #4096b8
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #45cc45
    }
}