
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background colour for the body of the page */
body {
    background: whitesmoke;    
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: #0776f5; /* #2657a6 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
/* my name/logo for the portfolio */
.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.navbar a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-left: 24px;
}
/* hover over for the navbar turns from white to gold */
.navbar a:hover {
    color: goldenrod;
}
/* banner picture separating header from body of the page */
.banner {
    width: 100%;
    position: absolute;    
}

.aboutme {
    color: #fff;
    display: flex;
}

.aboutme div {
    text-align: center;
}

#darkbanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


.container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    margin-bottom: 20%;
    margin-right: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.work {

}

.boxes {
    text-align: center;
    display: flex;
    border-style: solid;
    border-width: 3px;
    padding: 30px;    
    width: 100%;

}

.boxes header {
    padding: 50px;
    text-align: center;
}
/* responsive layout*/
@media screen and (max-width: 1024px) {
    body {
        background-color: #bb8588
    }
    .boxes {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: #4096b8
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #45cc45
    }
}